@use '../../styles/responsive.scss' as *;

.single{
    display: flex;

    @include xl {
        flex-direction: column;
        gap: 50px;
    }
    
    .view{
        flex: 1;
        .info{
            .topInfo{
                display: flex;
                gap: 20px;
                align-items: center;

                @include sm{
                    flex-direction: column;
                }
                
                img{
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 20px;

                    @include sm{
                        width: 50px;
                        height: 50px;
                        
                    }
                }

                h1{
                    font-weight: 500;

                    @include sm{
                        font-size: 26px;
                        text-transform: uppercase;
                    }
                }
            }

            .details{
                font-size: 18px;

                @include sm{
                    font-size: 14px;
                    align-items: center;
                }

                .item{
                    margin: 30px 0px;

                    .itemTitle{
                        font-weight: 600;
                        text-transform: capitalize;
                        margin-right: 10px;
                    }
                }

            }
        }

        hr{
            width: 90%;
            border: 0.5px solid gray;
            height: 0;
            margin: 20px 0px;

            @include md {
                display: none;
            }
        }
        .chart{
            margin-top: 50px;
            width: 80%;
            height: 400px;

            @include md {
                display: none;
            }

        }
    }   
    
    .activities{
        flex: 1;
    
            h2{
                margin-bottom: 20px;
            }

            ul{
                li{
                    list-style-type: none;
                    background-color: #f45b69;
                    position: relative;
                    width: 1px;
                    padding-top: 5px;

                    &::after{
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #f45b69;
                        transform: translateX(-50%);
                    }

                    div{
                        min-width: 480px;
                        padding: 15px;
                        background-color: #f45b6810;

                        @include md {
                            min-width: 250px;
                        }

                        p{
                            margin-bottom: 5px;
                        }

                        time {
                            font-size: 12px;
                        }
                    }
                }
            }
    }
}