@use '../../styles/variables.scss' as *;
@use '../../styles/responsive.scss' as *;


.navbar{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include sm {
        max-width: 420px;
      }

    .logo{
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 10px;
        
        img {
            width: 30px;
            height: 30px;
            border-radius: 10px;
        }
    }

    .icons{
        display: flex;
        align-items: center;
        gap: 20px;

        .icon{
            @include sm{
                display: none;
            }
        }

    .notification{
        position: relative;

        span{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: red;
            color: white;
            position: absolute;
            top: -10px;
            right: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
        }
    }

    .user {
        display: flex;
        align-items: center;
        gap: 10px;

        img{
            width: 26px;
            height: 26px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}
}



