@use "../../styles/variables.scss" as *;
@use "../../styles/responsive.scss" as *;

.add {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.724);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
        padding: 50px;
        border-radius: 10px;
        background-color: $main-bg;
        position: relative;

        @include sm {
            width: 350px;
        }

        h1{
            margin-bottom: 40px;
            color: $soft-color;
            font-size: 24px;
        }

        .close{
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        form {
            max-width: 500px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include sm {
                max-width: 350px;
            }
        
            .item{
                width: 40%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 20px;

                label {
                    font-size: 14px;
                }

                input{
                    background-color: transparent;
                    color: white;
                    padding: 10px;
                    outline: none;
                    border: 1px solid $soft-color;
                    border-radius: 3px;
                }
            }

            button {
                width: 100%;
                padding: 10px;
                cursor: pointer;
            }
        
        }
    }


}