@use '../../styles/responsive.scss' as *;

.dataTable{ 
    
   @include sm {
        max-width: 300px;
    }

    @include xs {
        max-width: 300px;
    }
    
   .dataGrid{
        background-color: white;
        padding: 20px;
       .MuiDataGrid-toolbarContainer{
            flex-direction: row-reverse;
        }

        img {
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 50%;
        }

        .action{
            display: flex;
            gap: 15px;

            img{
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }
}